.App{
  background-image: url('https://media.istockphoto.com/vectors/blue-dash-lines-explosion-vector-id1132125134?k=20&m=1132125134&s=612x612&w=0&h=BkpSVzSR-Xbq7o0sZDJ6msIB-2Xzy1jZIsAWGlEvPnM=');
  
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper{
  width: 600px;
  height: 600px;
  border-radius: 50px;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}